:root {
    --primary-color: rgb(38, 131, 198);

}

@font-face {
    font-family: 'little_pawsregular';
    src: url('assetts/little-paws-font/littlepaws-8mzqz-webfont.woff2') format('woff2'),
         url('assetts/little-paws-font/littlepaws-8mzqz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100vh;
}

.form-container {
    display: flex;
    
}

.image-banner{
    background-image: url("assetts/a27d567d-b3bd-4cb3-b28d-b8465a480ec5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
}

.form-container {
    width: 60%;
}

.hero-banner {
    background-color: rgba(0,0,0, .7);
    display: flex;
    flex-flow: row wrap;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 25vh;
    font-family: 'little_pawsregular';
    font-size: 25px;

}

.accent {
    color: var(--primary-color);
}