:root {
    --primary-color: rgb(38, 131, 198);
    --error-color-primary: rgb(190, 35, 35);
    --error-color-secondary: rgb(249, 133, 133);

}


@font-face {
    font-family: 'little_pawsregular';
    src: url('assetts/little-paws-font/littlepaws-8mzqz-webfont.woff2') format('woff2'),
         url('assetts/little-paws-font/littlepaws-8mzqz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}



.form-container, .image-banner {
    display: flex;
}

.image-banner {
    flex-flow: column nowrap;
    flex: 0 0 40%;
  
}

.image {
    background-size: cover;
    height: 50%;
    background-position: center;
    background-size: no-repeat;
}

.image-one {
    background-image: url("assetts/a27d567d-b3bd-4cb3-b28d-b8465a480ec5.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-two {
    background-image: url("assetts/IMG_5920.jpeg");
}

.form-container {
    flex: 0 0 60%;
    flex-flow: column nowrap;
    background-color: #F9FAFB;   
}

.hero-banner {
    background-color: rgba(0,0,0, .7);
    display: flex;
    flex-flow: column nowrap;
    color: white;
    align-items: center;
    width: 100%;
    font-family: 'little_pawsregular';
    font-size: 25px;
    padding: 25px 0vh;
}

h1 {
    margin: 0px;
}

.accent {
    color: var(--primary-color)
}

.text-area{
    padding: 5vw 5vw;
    
} 

.heading {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
}

.form {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: white;
}

form {
      display: flex;
      flex-flow: row wrap;
      gap: 5vw;
}

label {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bolder;
      letter-spacing: 1px;
      margin-bottom: 2px;
}

input {
      width: 200px;
      border: none;
      border-bottom: 1px solid #bcb9b9;
}

input:invalid:not(:placeholder-shown) {
    border-bottom:1px solid var(--error-color-primary);
}

input:focus {
    border-color: var(--primary-color);
    outline: 0;
}

input:required+label:after{
      content: " *";
      color: var(--error-color-primary);
      font-size: 15px;
}

.input-group {
      display: flex;
      flex-flow: column-reverse nowrap;
}

button {
    background-color: white;
    box-shadow: none;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

p {
    padding: 10px 0px;
}

@media only screen and (max-width: 800px) {
    .main {
        flex-flow: column nowrap;
    }

    .image-banner, .image-one {
        height: 45vh;
    }

    .image-two {
        display: none;
    }
    .hero-banner {
        top: 27vh;
        font-size: 22px;
        padding: 2vh 0vh;
    }
    form {
        flex-flow: column nowrap;
        gap: 20px;
    }

}

  