:root {
    --primary-color: rgb(38, 131, 198);

}

@font-face {
    font-family: 'little_pawsregular';
    src: url('assetts/little-paws-font/littlepaws-8mzqz-webfont.woff2') format('woff2'),
         url('assetts/little-paws-font/littlepaws-8mzqz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100vh;
}

.form-container, .image-banner {
    display: flex;
}

.image-banner {
    flex-flow: column wrap;
    width: 40vw;
}

.image {
    background-size: cover;
    height: 50vh;
}

.image-one {
    background-image: url("assetts/a27d567d-b3bd-4cb3-b28d-b8465a480ec5.jpg");
}

.image-two {
    background-image: url("assetts/IMG_5920.jpeg");
}

.form-container {
    width: 60%;
}

.hero-banner {
    background-color: rgba(0,0,0, .7);
    display: flex;
    flex-flow: row wrap;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 45vh;
    font-family: 'little_pawsregular';
    font-size: 25px;
    text-align: center;

}

.accent {
    color: var(--primary-color)
}